/*Navbar*/

.nav-block-side {
    flex-grow: 1; /* Lado Izquierdo y Derecho ocupan el espacio disponible */
    flex-basis: 0%; /* Se ignora si si un lado tiene más letras que el otro */
}

.nav-block-center {
    flex-grow: 0;
    flex-basis: auto; /* Tamaño natural de la imágen */
    justify-content: center;
}

.nav-logo {
    height: 45px;
    width: auto;
}

.nav-underline .nav-link {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    color: #C0D6DF;
    letter-spacing: 2px;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.nav-underline .nav-link:hover {
    color: #E6D5B8;
}

.nav-underline .nav-link.active {
    color: #E6D5B8 !important;
    border-bottom-color: #A68A64 !important;
    border-bottom-width: 2px;
}

/* Botón reservar del navbar */
.btn-nautical-reserve {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2px;
    color: #E6D5B8;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #A68A64;
    border-radius: 50px;
    background: transparent;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); /* Animación a todas las propiedades que cambian. La animación arranca rápido (primeros dos valores) y se frena con suavidad (últimos dos valores). */
}

.btn-nautical-reserve:hover {
    color: #0B1D2E;
    background-color: #E6D5B8;
    border-color: #E6D5B8;
    box-shadow: 0 0 15px rgba(230, 213, 184, 0.4); 
}

/*Apartado qué es Orizon*/

.orizon-container {
    background-color: #E5E5E5;
    padding: 15px;
    text-align: center;
}

.orizon-container h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    letter-spacing: 10px;
    margin-top: 20px;
}

.orizon-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

.pilares-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-pil {
    flex: 1;
    transition: flex-grow 0.5s ease;
}

.card-pil .card-body {
    height: 220px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.card-pil img {
    object-fit: cover;
    height: 250px;
}

.card-pil i {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0B1D2E;
    margin-bottom: 15px;
    transition: transform 0.4s ease;
}

.card-pil .card-title {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 25px;
    color: #0B1D2E;
    max-width: 250px;
    margin: 0 auto;
    transition: transform 0.4s ease;
}

.card-pil .card-content {
    opacity:0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.4s ease, max-height 0.4s ease, visibility 0.4s ease;
}

.card-pil:hover {
    flex-grow: 1.5;
}

.card-pil:hover i{
    transform: translateY(-6px);
}

.card-pil:hover .card-title{
    transform: translateY(-6px);
}

.card-pil:hover .card-content{
    opacity: 1;
    visibility: visible;
    max-height: 150px;
    margin-bottom: -5px;
}

/*Carrusel imágenes historia*/
.container-carousel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.carousel-item img {
    height: 70vh;
    object-fit: cover;
}

.cont-hist {
    background-color: #E6D5B8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;
    text-align: center;
}

.cont-hist h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    letter-spacing: 7px;
    color: #0B1D2E;
    position: relative;
}

.cont-hist h2::after {
    content: "";
    width: 150px;
    height: 4px;
    border-radius: 3px;
    background-color: #0B1D2E;
    left: 50%; 
    position: absolute;
    left: 50%;     
    transform: translateX(-50%);
    bottom: 2px;
    transition: width 0.5s ease;
}

.container-carousel:hover h2::after {
    width: 100%;
}

.cont-hist p{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}